 

 body{ 
    height: 100%;
    width: 100%;    
    background-color: #030D43; 
 }
    #pageone{
        position: absolute;
        top: 0px;    
        right: 0%;
        bottom: 0px;
        left: 0%;
        height:100%;
        width:100%;      
        }
        nav>ul{ display:flex;
            flex-direction: row;  
            justify-content: space-around;
            background-color:#1A1249;
            list-style: none;
            height: 10%;  
            width: 90%;
            align-self: center;
            align-items: center;
            position: fixed;
            left:4%;
            }
        nav>ul>li{ color:#043BFF;
                font-family:roboto;
                font-size:24px;
                line-height:56px ;

        }
        #name{position: absolute;
            top:10%;
            left:16%;
            color:#030D43;
            font-size: 72px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            }
        #taglines{
            position:absolute;
            left:25%;
            top:40%;    
            align-items: center;
            text-align: center;
            color:white;
            font-family: Redressed;
            font-size: 36px;
            line-height: 75px;
            letter-spacing: 0.025em;
        }
        #create{
            position: absolute;
            bottom:10%;
            right: 5%;
            font-family: roboto;
            font-size: 16px;
            line-height: 28px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #A1FE0A;
            background-color:  #571818;
            border-radius: 20px;
            padding: 0p;
            width: 200px;
            align-items: center;
            justify-content: center;
            }
        a{text-decoration:none; }
        a.hover{ color:white;} 
            

    #pagetwo{position: absolute;
            top: 100%;
            background-color: #02FFE1;
            height: 100%;
            width:100%;
    }

        #pagetwomain{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;  
                    align-items: center;
                    position: relative;
                    top:1%;
                    font-size: 24px;
                    text-align: center;
                    

        }

        #shopping{
                display: flex;
                position:relative;
                top:5%;
                
                font-size: 36px;
                justify-content: space-evenly;
                align-items: center;
                

                

        }
        h1{ 
            text-align: center;
            font-size: 48px;
            font-style: italic; 
            color:#223169;   
        }
        h2{
            text-align: center;
            font-size: 48px;}



        

    #pagethree{
                background-image:url(./images/image.webp);
                background-repeat: no-repeat;
                background-size:cover;
                position: absolute;
                top:205%;
                width:100%;
                height:100%;
           }           
        #pagethree>img{ position: absolute;
                        right:0;
                        top: 35%;
                        height:40%;
                        width:30%;                        
                }
        #pagethree>h2{
                    position:absolute;
                    top:46%;
                    left:16%;
                    font-size:48px;
                    right:40%;
                    text-align: center;
                    color: rgb(24, 3, 44);
                    font-family: Risque;
                        
                    }


    #pagefour{
                position:absolute;
                top:310%;
                height:100%; width: 100%;
                background-color:yellow;
                }
        



        #pagefour>h1{position: absolute;
                    left: 30%;
                    color: cornsilk;
                    
                    }

            #restaurants{position: absolute;
                        left: 0%;
                        top: 20%;
                        width: 50%;
                        font-size: 24px;
                        text-align: center;
                        color: cornsilk;
                        }
            #partylife{ position: absolute; 
                        right: 0%;
                        top: 20%;
                        width: 50%;
                        font-size: 24px;
                        text-align: center;
                        color: cornsilk;
                        }
                        }
            #fries{position: absolute;
                    top: 0;
                    bottom: 0; 
                    right: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            #pagefour>h2{
                        color: cornsilk;  
                        position:absolute;
                        left: 40%;
                        top: 97%; 
                        font-size: 36px;       
                }


    #pagefive{
            position: absolute;
            top: 420%;
            height: 100%;
            width:100%;
            background-color: lawngreen;
            
        
            }
            #basketball{position: absolute;
                        left: 0;
                        top: 12%;
                        font-size: 24px;
                        text-align: center;
                        width: 30%;

                        }
            #golf{position: absolute;
                left: 30%;
                top: 20%;
                font-size: 24px;
                text-align: center;
                width: 40%;
                }
            #running{position: absolute;
                   right: 0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
                    top: 12%;
                    font-size: 24px;
                    text-align: center;
                    width: 30%;
                    }
            #pool{position: absolute;
                left: 0px;

                top: 0px;
                bottom:0px;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
                    } 
            #pagefive>h1{position: absolute;
                        left: 26%;
                        top: 0px;
                        }
            #pagefive>h2{position: absolute;
                        top: 84%;
                        left:40%;
                        font-size: 48px;
                        color:#223169;   
                        }

            #pagefive>p{position: absolute;
                        left: 20%;
                        bottom: 5%;
                        font-size: 36px;
                        }

    #pagesix{
        position: absolute;
        top: 530%;
        background-color:#11101E;
        height:100%;
        width:100%;
    }
            #pagesixmain{
                        display: flex;
                        justify-content: space-around;
                        font-size: 24px;
                        text-align: center;
                        padding: 0;
                        margin: 0;
            }
            #pagesix>h2{ position: relative;
                         text-align: center;
                         bottom:0;
                         font-size: 48px; }

    #pageseven{ 
                position: absolute;
                top:630%;
                height:100%;
                width:100%;
                background-color:#053C40;
            
          }
        #pagesevenmain{ 
                    display: flex;
                    width:100%;
                    justify-content:center;
                    
                    font-size: 36px;
                    text-align: center;
                    }
        #estates{padding: 0;
                margin: 0;
                width: 30%;
                }
        #home{padding: 0;
              margin: 0;
              width: 40%;
              height: 100%;
            }
        #family{
                padding: 0;
                margin: 0;
                width: 40%;   
                }
        #pageseven>h1{position: absolute;
                    
                    left:45%; 
                    color: #041235         
        }



    #pageeight{
            position: absolute;
            top:750%;
            height: 100%;
            width: 100%;
            background-color: white;
    }
        #clientvideos{display: flex;
                    justify-content: space-around; 
                    text-align: center;
                    font-size: 24px;    
        }
        #pageeight>h3{font-size: 36px;
                    position: relative;
                    left:45%;
                    bottom: 5%;
                    color:#223169;  
                    
        }
        #clientone{width: 33%; }
        #clienttwo{width: 33%; }
        #clientthree{width: 33%;}
        #comments{padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    
                    justify-content: space-evenly;
                    position: relative;
                    bottom:11%;
                    padding: 0;
                    margin: 0;  
                }
        #pageeight>h5{font-size: 24px;
                    position: relative;
                    left: 45%;
                    bottom: 6%;
                    color:#223169;  }

        #comments>h6{font-size:24px; 
                    padding: 0;
                    margin: 0;  }
        #comments>h6>span{font-size: 16px;}

        form{ position:absolute;
                bottom:0px;
                left:0px;
                right: 0px;
                padding: 0;
                margin: 0;              
        }
        form>h5{font-size:24px;
                position: absolute;
                left: 40%;
                bottom: 38%;
                color:#223169;          
        }
        #addcomment{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 24px;
                    
                    
        }


        textarea{ width:40%;
                  height:40px; 
                 font-size: 36px;
                }
        input{width:20%;  font-size: 24px; }

        button{width: 20%; font-size: 24px; }
    #pagenine{
            position: absolute;
            top: 850%;
            height: 100%;
            width: 100%;
            background-color:#612F2F;
    }

        #pagenine>h4{
                    font-size: 48px;
                    text-align: center;
        }
        #pagenine>p{ text-align:center; 
                    font-size: 36px;
                    position: relative;
                    bottom: 5%;   }
        #pagenine>h5{ text-align: center; font-size: 48px;}


        #socialmedia{
                      display: flex;
                      justify-content: space-around;

                       }